HUE_BASE_URL="http://hue-bridge-ip"

OIDC_ISSUER="https://auth.chalmers.it"
OIDC_CLIENT_ID="client-id"
OIDC_CLIENT_SECRET="client-secret"
OIDC_REDIRECT_URL="http://localhost:3000/auth/account/callback"

SECRET="session-secret-key"
